* {
  margin: 0;
}

body.dark {
  background: #161616;
  color: #ffffff;
}

body.dark #temas {
  background-color: #161616;
  color: #ffffff;
  border-color: white;
}

#temas {
  background-color: transparent;
  padding: 0 .5rem;
  color: #161616;
  border-radius: 25px;
  border-style: solid;
}

.bar {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
}

body.dark .bar form input {
  border-color: #c4c4c4;
  background-color: #161616;
  color: #ffffff;
}

.bar form input {
  margin-left: .5rem;
  padding-left: .5rem;
  width: 250px;
  height: 30px;
  border-radius: 25px;
  border-style: solid;
  border-color: #161616;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: .5rem;
  max-width: 620px;
  border-width: .2rem;
  border-radius: 1rem;
  border-color: #376380;
  border-style: solid;
  box-sizing: content-box;
}

.avatar {
  width: 30%;
  height: 30%;
  min-width: 80px;
  min-height: 80px;
}

.datos {
  margin-top: .5rem;
  margin-left: 1rem;
}

@media (max-width: 520px) {
  .datos h2 {
    font-size: 18px;
  }
  .datos p {
    font-size: 14px;
  }
}